/* variabel global dalam css */

:root {
    --primary-color:rgb(224, 240, 233);
    --second-color: rgb(226, 214, 200);
    --accent-color: rgb(207, 193, 219);

}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.navbar-brand{
    font-weight: bold;
    font-size: 1.5 rem;
}

.hero-section{
    background-color: var(--primary-color);
    color: rgb(19, 17, 17);
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.page-section{
    /* vh buat section jd 1 halaman */
    min-height: 100vh;
    padding-top: 80px;
}
.section-padding{
    padding: 80px 0;
}
.section-title{
    position:relative;
    margin-bottom: 50px;

}
/* buat garis bawah */
.section-title::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 80px;
    height: 3px;
    background-color: var(--primary-color);
    transform: translateX(-50%);
}
.lead{
    font-weight: normal;
}
.fade-in{
    /* opacity: 0; */
    transform: translateY(30px);
    transition: all 0.6s ease;
}
.team-member{
    text-align: center;
    margin-bottom: 30px;

}
.team-avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    font-size: 3rem;
    color: rgb(221, 178, 143);
}